# Android Generated #
#####################
bin/
gen/
local.properties
proguard-project.txt
build/
.gradle
.idea
*.iml
out/
translation-backups/
gradle.properties

# OS Generated #
################
.DS_STORE
.DS_Store

# Java Things #
###############
.classpath
.settings/
